<div class="box">
  <fieldset>
  <%= form_for @o_single do |f| %>

    <div class="grid_4 input">
      <label class="lbl"><%= t("name") %><i class="redStart">*</i></label>
      <% if @o_single.errors[:name].any? %>
        <span class="text-error"> 
          <%= t('field_required') %>
        </span>
      <% end %>            
      <%= f.text_field :name %> 
    </div>
    
    <div class="grid_8 input">
     <label class="lbl"><%= t("content") %></label>    
     <%= f.text_area :template %>
    </div>  
    
    <div class="grid_4 input">
     <label class="lbl"><%= t("active") %></label>    
     <%= f.check_box :active %>
    </div>          
    
    <div class="grid_8"></div>
    <div class="grid_2">
      <%= f.submit :value => t("save"), :class => "btn btn-info" %>
    </div>  
     <div class="grid_2" style="margin-top: 5px;float: left;"> 
      <%= link_to t("back"), cpe_templates_path, :class => "btn btn-info" %>
    </div>
  <% end %>
</fieldset>
</div>



