<%#
# This file is part of the OpenWISP User Management System
#
# Copyright (C) 2012 OpenWISP.org
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>
<div class="grid_1" style="margin-top: 10px;">
  <strong><%= form.label :is_company, t("is_company") %></strong>  
  <%= form.check_box :is_company %>
</div>

<div style="margin-top: 50px;">
<% block_none = owner.is_company ? 'display:block' : 'display:none' %>
<fieldset style="<%= block_none %>;" id="company_fields">
  <legend id="pg_user label"><%= t("dati_azienda") %></legend>
  <div class="grid_4">
    <%= form.input :pg_ragione_sociale, :label => t("pg_ragione_sociale") %>
  </div>  
  <div class="grid_4">
    <%= form.input :pg_partita_iva, :label => t("pg_partita_iva") %>
  </div>
  <div class="grid_4">
    <strong><%= form.label :pg_indirizzo, t("pg_indirizzo") %></strong>  
    <%= form.text_field :pg_indirizzo %>
  </div>   
  <div class="grid_2">
    <%= form.input :pg_comune, :label => t("pg_comune") %>
  </div>       
  <div class="grid_2">
    <%= form.input :pg_cap, :label => t("pg_cap") %>
  </div>
</fieldset></div>
<div class="clearb">&nbsp;</div>


<fieldset>
  <legend id="pg_userlabel"><%= t("user_datas") %></legend>
  <div class="grid_4">
    <%= form.input :given_name, :disabled => !owner.new_record? %>
  </div>  
  <div class="grid_4">
    <%= form.input :surname, :disabled => !owner.new_record? %>
  </div>  
  
  
  
  <div class="grid_4">  
    <%= form.input :email %>
  </div>
  
  <div class="grid_4" style="margin-top: 35px;">
    <%= form.input :email_confirmation %>
  </div>
    
  
  <div class="grid_4">
    <strong><%= form.label :pf_luogo_di_nascita, t("pf_luogo_di_nascita") %></strong>  
    <%= form.text_field :pf_luogo_di_nascita %>
  </div>        
  
  <div class="grid_4"> 
  <%= form.input :birth_date, :as => :date,
                 :disabled => !owner.new_record?,
                 :start_year => Date.today.year - 90,
                 :end_year => Date.today.year - 14,
                 :order => [:day, :month, :year],
                 :prompt => true
  %>
  </div>
    
  <div class="grid_4">  
    <%= form.input :pf_cf, :label => t("pf_cf") %>
  </div>    
    
  <div class="grid_4">
    <strong><%= form.label :product_id, t(:product) %></strong><br />
    <%= form.select :product_id, options_for_select([t("select_product")] + Product.all.collect {|r| [r.code, r.id]}, (owner.product_id unless owner.product_id.nil?)) %>
  </div>     
  <div class="clearb"></div>  
  <div class="grid_4">   
    <%= form.input :address %>
  </div>
  
  <div class="grid_4">
    <%= form.input :zip %>
  </div>  
  <div class="grid_4">
    <%= form.input :city %>
  </div>  
  <div class="grid_4">
    <%= form.input :state, :collection => countries, :prompt => false %>
  </div>
    <div class="grid_7"></div>  
<div class="grid_4">  
     <div class="right"><%= link_to t(:verify), "#iban", :id => "user_iban_verify", :class => "button" %></div>
      <%= form.input :iban %>
   </div>   
<div id="mydiv" style="display:none;">
    <iframe id="frame" src="" width="100%" height="300"></iframe>
  </div>   
</fieldset>
<div class="clearb">&nbsp;</div>
<fieldset>
  <legend id="pg_user label"><%= t("dati_di_accesso") %></legend>
<div class="grid_7"></div>
    <div class="grid_4">
      <% if current_operator %>
          <% content_for :after_defaults do %>
              <%= javascript_include_tag 'jquery.password' %>
              <%= javascript_tag "$(function(){
                      $('#pwgen').click(function(e){
                          $('#user_password, #user_password_confirmation').val($.password(8, 1));
                          e.preventDefault();
                      });
              });" %>
          <% end %>
      
          <a href="#" id="pwgen" class="right"><%=t :autogenerate %></a>
          <%= form.input :password, :as => :string, :hint => false %>
       </div>
       <div class="grid_4">   
          <%= form.input :password_confirmation, :as => :string %>
        </div>
     
  <% else %>
      <div class="grid_8">
        <div class="grid_5">
          <%= form.input :password %>
        </div>  
        <div class="grid_4">  
          <%= form.input :password_confirmation %>
        </div>  
      </div>  
  <% end %>
<div class="grid_4">
  <% if current_operator.has_role? 'users_manager' %>
      <%= form.label :radius_groups %>
      <%= render 'radius_group_select', :user => owner, :radius_groups => radius_groups %>
  <% end %>
</div>  
<div class="grid_4" style="margin-top:-15px;float: left;">
  <div id="eula_priv">
    <%= link_to t(:Click_for_eula), document_path('eula.pdf'), :target => '_blank', :id => "acceptance" %>
    <%= form.input :eula_acceptance, :error => true %>
  
    <%= link_to t(:Click_for_privacy), document_path('privacy.pdf'), :target => '_blank', :id => "privacy" %>
    <%= form.input :privacy_acceptance, :error => true %>
  </div>
</div>

</fieldset>
<div class="clearb">&nbsp;</div>

<fieldset>
  <legend id="pg_user label"><%= t("dati_di_installazione") %></legend>
  <div class="grid_4">
    <strong><%= form.label :cpe_template_id, t(:cpe_template) %></strong><br />
    <%= form.select :cpe_template_id, options_for_select([t("select_cpe_template")] + CpeTemplate.all.collect {|r| [r.name, r.id]}, (owner.cpe_template_id unless owner.cpe_template_id.nil?)) %>
  </div>  
  <div class="grid_4">
    <strong><%= form.label :inst_cpe_mac, t("inst_cpe_mac") %></strong>  
    <%= form.text_field :inst_cpe_mac %>
  </div>

    <%= form.hidden_field :inst_cpe_username, :value => current_operator.login %>
    <%= form.hidden_field :inst_cpe_password, :value => current_operator.crypted_password %>
  
  <div class="grid_4">
    <strong><%= form.label :inst_indirizzo, t("inst_indirizzo") %></strong>  
    <%= form.text_field :inst_indirizzo %>
  </div>  

  <div class="grid_4">
    <strong><%= form.label :inst_cap, t("inst_cap") %></strong>  
    <%= form.text_field :inst_cap %>
  </div>        
  <div class="grid_9">
    <%= form.input :gen_note, :label => t("note") %>
  </div> 

</fieldset>  
<script>
$("#user_iban_verify").click(function () {
  $("#mydiv").show(); 
  $("#frame").attr("src", "http://www.mutuissimo.it/cerca.asp?q=a&iban="+$("#user_iban").val());
});  
//$("#frame").attr("src", "http://www.mutuissimo.it/cerca.asp?q=a&iban="+$("#user_iban").val());

$('#user_is_company').click(function() {
  $('#company_fields').toggle('slow', function() {
    // Animation complete.
  });
});

$('#user_eula_acceptance').click(function() {
  var url = $("#acceptance").attr('href');
  window.open(url, '_blank');
});

$('#user_privacy_acceptance').click(function() {
  var url = $("#privacy").attr('href');
  window.open(url, '_blank');
});

</script>

