<%#
# This file is part of the OpenWISP User Management System
#
# Copyright (C) 2012 OpenWISP.org
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>
<div class="grid_5">
  <%= f.input :username, :disabled => !user.new_record? %>
</div>
<div class="grid_6"></div>
<div class="grid_5">  
<% if user.new_record? %>
    <% if user_verification_methods.length == 1 %>
        <%= f.input :verification_method, :as => :hidden %>
    <% else %>
        <%= f.input :verification_method, :collection => user_verification_select, :prompt => false %>
    <% end %>
<% else %>
    <%= f.input :verification_method,
                :collection => account_verification_select + user_verification_select,
                :disabled => true
    %>
<% end %>
</div>

<div class="grid_8"></div>



<%= render 'common/form_elements/mobile_phone_user', :form => f, :owner => user, :prefixes => mobile_prefixes %>

<%= render 'common/form_elements/identity_document', :form => f, :owner => user %>
<div class="grid_8">&nbsp;</div>
<div class="grid_8">
<% if user.new_record? %>
    <%= f.input :verified, :as => :hidden, :value => 1 %>
    <%= f.input :active, :as => :hidden, :value => 1 %>
<% else %>
    <div id="user_status">
      <%= f.input :verified %>
      <%= f.input :active %>
    </div>
<% end %>
</div>
<% if current_operator.is_admin? %>
  <div class="grid_5">
    <strong><%= t("operator") %></strong><br />
    <%= select_tag "operator_id", options_for_select([t("select_operator")] + Operator.where("code IS NOT NULL AND is_admin = 0").collect {|r| [r.code, r.id]}, (user.operator_users.first.operator_id unless user.operator_users.first.nil?)) %>
  </div>
  <div class="clearb">&nbsp;</div>
<% end %>       
<%= render 'common/form_elements/personal_data_backend', :form => f, :owner => user, :countries => countries, :radius_groups => radius_groups, :current_operator => current_operator %>
<div class="grid_3">
  <%= f.button :submit %>
</div>    
<div class="grid_3" style="margin-top: 10px;float: left;">  
  <%= link_to t(:Undo), :back %>
</div>  
